# Ignore everything
*

# Unignore necessary files
!*.py
!*.yaml
!*.js
!*.md
!*.png
!*.toml
!*.lock
!*.feature
!.gitignore

# Unignore specific directories and their contents
!*/

# Exclude cache and temporary directories
__pycache__/
.pytest_cache/
node_modules
.venv